---
interface Props {
    image: string;
    title: string;
    technologies: string[];
    codeLink: string;
    deployLink: string;
}

const { image, title, technologies, codeLink, deployLink } = Astro.props;
---

<div class="card">
    <div class="preview">
        <img src={image} alt={title} />
    </div>
    <h2>{title}</h2>
    <div class="tecnology-container">
        {technologies.map((tec) => (
        <img src={tec} alt="tech-image" class="tech-icon" />
        ))}
    </div>
    <div class="links">
        <a href={codeLink} target="_blank" class="link">
        <img src="/github.png" alt="GitHub" class="link-icon" />
        Code
        </a>
        <a href={deployLink} target="_blank" class="link">
        <img src="/favicon.svg" alt="Deploy" class="link-icon" />
        Deploy
        </a>
    </div>
</div>

<style>
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #2d575e;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        width: 330px;
        height: 400px;
        margin-right: 20px;
        margin-left: 20px;
        padding: 20px;
        color: white;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    h2 {
        font-weight: 500;
        margin: 10px 0;
        text-align: center;
        font-size: 2
        rem;
    }

    .preview {
        width: 100%;
        height: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .preview img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    .tecnology-container {
        display: flex;
        gap: 12px;
        justify-content: center;
        margin-bottom: 15px;
    }

    .tech-icon {
        width: 40px;
        height: 40px;
        object-fit: contain;
    }

    .links {
        display: flex;
        justify-content: space-around;
        gap: 10px;
    }

    .link {
        display: flex;
        align-items: center;
        color: white;
        font-weight: bold;
        text-decoration: none;
        gap: 10px;
        transition: color 0.3s ease;
    }

    .link:hover {
        color: #122326;
    }

    .link-icon {
        width: 30px;
        height: 30px;
    }
</style>
